[access]
	inheritFrom = Public-Plugins
[project]
	description = Plugin running Gitiles alongside a Gerrit server
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group gerrit-verifiers
	submit = group gerrit-verifiers
[access "refs/tags/*"]
	createTag = group gerrit-verifiers
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[access "^refs/heads/stable-3.*2021-07$"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	delete = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	forgeServerAsCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
