[access]
	inheritFrom = Public-Plugins
[project]
	description = Plugin running Gitiles alongside a Gerrit server
[access "refs/heads/*"]
	label-Verified = -1..+1 group gerrit-verifiers
[access "refs/tags/*"]
	createTag = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	submit = group gerrit-verifiers
